@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply text-white font-bold py-2 px-4 rounded
}

.btn-blue {
    @apply bg-blue-500 hover:bg-blue-500
}

@layer base {
    a {
        @apply text-blue-500 underline;
    }
}